torrent
**/*.torrent
**/*.flac
**/*.mp3
**/*.wav
**/*.vob
**/*.mpg
**/*.mkv
**/*.mp4
**/*.m4a
**/*.webm
**/*.avi
**/*.m2v
**/*.wmv
**/*.flv
**/*.ogg
**/*.ape
**/*.mpeg
**/*.ts
**/*.rar
**/*.zip
**/*.log
**/Thumbs.db
**/DS_Store