torrent
**/*.torrent
**/*.flac
**/*.shn
**/*.mp3
**/*.wav
**/*.vob
**/*.mpg
**/*.mkv
**/*.ts
**/*.mp4
**/*.m4a
**/*.webm
**/*.asf
**/*.avi
**/*.wmv
**/*.flv
**/*.opus
**/*.ogg
**/*.ape
**/*.mpeg
**/*.ts
**/*.rar
**/*.zip
**/*.log
