# other
torrent
**/*.torrent
**/*.flac
**/*.mp3
**/*.wav
**/*.vob
**/*.mpg
**/*.mkv
**/*.mp4
**/*.m4a
**/*.webm
**/*.avi
**/*.wmv
**/*.flv
**/*.ogg
**/*.ape
**/*.mpeg
**/*.rar
**/*.zip
**/*.log
/\[MISC\]
