body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
}

.repo-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.pill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.pill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #b20000; /* Rojo */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

    .pill:hover {
        background-color: #d60000; /* Rojo más claro al pasar el cursor */
    }

    .pill span {
        display: inline-block;
        text-align: center;
    }
