/* Estilo general de la página */
body {
  background: #000;
  font-family: 'Bebas Neue', sans-serif; /* Aplicar la fuente Bebas Neue para todo el cuerpo */
  margin: 0;
}

/* Estilo para el contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el título */
h1 {
  text-align: center;
  color: mediumaquamarine;
  font-size: 46px;
}

h2, h3 {
    text-align: center;
    color: burlywood;
    font-size: 18px;
}

h3 {
    text-align: left;
    font-size: 16px;
}

/* Estilo para las pills */
.repo-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Ajustar a múltiples líneas */
  justify-content: center;
  margin-top: 20px;
}

.pill-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d31100;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px; /* Agregar margen entre las pills */
  transition: background-color 0.3s;
}

a[title='1982'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/1982.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1983'],
a[title='1984']{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/therhcp.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1985'],
a[title='1986'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/freakystyley.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1987'],
a[title='1988'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/theumpp.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1989'],
a[title='1990'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/mothersmilk.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1991'],
a[title='1992'],
a[title='1993'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/bssm.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1994'],
a[title='1995'],
a[title='1996'],
a[title='1997'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/ohm.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='1998'],
a[title='1999'],
a[title='2000'],
a[title='2001'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/californication.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2002'],
a[title='2005'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/btw.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2003'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/greatesthits.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2004'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/hydepark.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2006'],
a[title='2007'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/stadiumarcadium.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2008'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/2008.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2009'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/2009.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2010'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/2010.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2011'],
a[title='2012'],
a[title='2014'],
a[title='2015'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/iwy.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2013'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/imbesideyou.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2016'],
a[title='2017'],
a[title='2018'],
a[title='2019'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/thegetaway.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

a[title='2020'],
a[title='2021'],
a[title='2022'],
a[title='2023'] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/ulrotdc.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

.pill-link:hover {
  background-color: #b30000;
}

/* Estilos para el logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.rotating-logo {
  animation: rotation 10s infinite linear;
  width: 100px;
  height: 100px;
}

.footer-container {
    display: flex;
    color: burlywood;
    flex-direction: column;
}

.footer-references {
    display: flex;
    gap: 1rem;
    font-size: 12px;
    color: white;
}

.what-i-have-button {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

    .what-i-have-button:hover {
        background-color: #8c0000;
    }

@keyframes rotation {
    from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
